body {
  margin: 0;
}

.container {
  width: auto;
  max-width: 1020px;
  padding-left: 10px;
  padding-right: 10px;
}


.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  background-color: $darkBlue;


  .masthead-nav {
    display: none;
    text-align:center;
    clear: both;
    a {
      display: block;
    }
  }

  .masthead-logo {
    display: inline-block;
    background-image: url("/img/logosmall.png");
    background-repeat: no-repeat;
    background-position: 12px;
    float: left;

    span {
      margin-left: 50px;
    }
  }
}

.masthead .navbar-toggle {
  color: $hamburgerLines;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  padding: 4px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 10px;
  padding: 9px 10px !important;
  margin-top: -2px !important;
  margin-bottom: 3px !important;
  background-color: $hamburgerBackground;
  background-image: none;
  border: 1px solid $hamburgerBorder;
  border-radius: 4px;
}


.player {
  margin-bottom: 30px;
}

.two-fifths {
  width: 40%;
}

.padding-bottom {
  padding-bottom: 20px;
}

.horizontal-line {
  margin-top: 5px;
  border-top: 1px solid #eee;
}


.jumbotron {
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-right: 0;
  margin-top: -2rem;
  margin-bottom: 3rem;
  background-color: $yellow;
  color: #fff;
  text-align: center;
}


table {
  th, td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.photobg {
  background-image: url("/img/ivcc2016.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -200px;
}

.no-bullets {
  li {
    list-style: none;
  }
}

.pagination {
  @extend .no-bullets;
  li {
    float: left;
    margin-right: 2rem;
  }
}

.flash {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.message {
  @extend .flash;

  &.error {
    @extend .flash-error;
  }
}

.filter-item {

  &.selected {
    background-color: $red;
  }
}

.shaded-box {
  background:#7f7f7f;
  background:rgba(0,0,0,0.5);
  border-radius: 3px;
  border: 1px solid #000;
  width: 80%;
  padding-left: 20px;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 5px;
}

.no-padding {
  padding: 0;
  th, td {
    @extend .no-padding;
  }
}
.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
  th, td {
    @extend .no-vertical-padding;
  }
}

.padding-left {
  padding-left: 5px;
}

.less-padding {
  padding: 2px;
}

footer {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $darkBlue;
  text-align: right;
}

.hide {
  display: none;
}

.align-center {
  text-align: center;

  img {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}

.align-right {
  text-align: right;
}

.opaque-hover:hover {
  opacity: 0.7;
}

.bordered {
  border: 1px solid black;
}

.column.three-fifths {
  width: 60%;
}

.img-responsive {
  max-width: 100%;
  display:block;
  height: auto;
}

.margin-right {
  margin-right: 20px;
}

.dropzone {
  border: 1px dashed $red;
}