@media (min-width: 34em) {
  .masthead {
    text-align: left
  }

  .masthead .masthead-logo {
    float: left
  }
}


@media (max-width: 34em) {
  .masthead-nav {
    padding-top: 1rem;
    border-top: 0.075rem solid rgba(255, 255, 255, 0.25)
  }
}

@media (min-width: 34em) {

  .masthead {

    text-align: left;

    .masthead-logo {
      float: left;
    }

    .masthead-nav {
      float: right;
      margin-top: .5rem
    }

  }

}

@media (min-width: 34em) {
  .jumbotron {
    padding-top: 14rem;
    padding-bottom: 0rem;
    padding-left: 5rem;
    font-size: 1.5rem;
    text-align: left
  }
}



@media (max-width: 760px) {
  .column {
    float: none;
    width: 100%;
    margin-bottom: 30px
  }
}